* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  background: linear-gradient(#008be3, rgb(0, 100, 120) 90% 10%);
  height: 100vh;
  width: 100vw;
}

#gameContainer {
  width: 75%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  top: 5%;
  display: grid;
  grid-template-rows: 10% 90%;
}

#title {
  background: white;
  text-align: center;
  border-radius: 12px;
  border: #00f2ff solid 5px;
  background: rgb(0, 100, 120);
}

#title h1 {
  color: white;
  font-weight: bold;
}

#game {
  width: 50%;
  margin: 0 auto;
  height: 90%;
  display: grid;
  grid-template-rows: 15% 50% 25%;
  gap: 5%;
  place-self: center;
}

#oponent,
#gameDisplay,
#player,
#instruction {
  height: 100%;
  width: 100%;
  background: #0050a5;
  border-radius: 12px;
  border: #00f2ff solid 5px;
}

#oponent {
  text-align: right;
  color: white;
  display: grid;
  grid-template-rows: 50% 50%;
  place-content: center;
}

#loadingPoints {
  height: 0.4rem;
  margin: 0 auto;
}

#loadingPoints span {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  float: left;
  background-color: white;
  border-radius: 50%;
  margin-left: 0.2rem;
  animation: dot 1s infinite;
}

#loadingPoints span:nth-child(2) {
  animation: dot 1s 0.3s infinite;
}

#loadingPoints span:nth-child(3) {
  animation: dot 1s 0.6s infinite;
}

@keyframes dot {
  0% {
    transform: scale(50%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(50%);
  }
}

#gameDisplay {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 10%;
  place-content: center;
}

#appElection,
#vs,
#userElection {
  width: 100%;
  height: auto;
}

#vs {
  transform: scale(1.2);
  background: #008be3;
  border-radius: 50%;
  border: #002144 solid 7px;
  text-align: center;
  display: none;
}

#vs h2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 3rem;
}

#wait {
  position: absolute;
  display: grid;
  grid-template-rows: 33.33% 66.66%;
  place-self: center;
  place-items: center;
  width: 45%;
  height: 30%;
  text-align: center;
}

#clock {
  height: 4rem;
  width: 2rem;
  display: block;
  animation: clockRot 2s infinite;
}

#clock span {
  display: block;
  height: 2rem;
  width: 2rem;
  background: white;
}

#clock span:first-child {
  clip-path: polygon(0 0, 100% 0, 55% 100%, 45% 100%);
}

#clock span:last-child {
  clip-path: polygon(45% 0, 55% 0, 100% 100%, 0 100%);
}

@keyframes clockRot {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}

#instruction {
  height: 30%;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  display: grid;
  place-content: center;
}

#player {
  margin-top: 0.5%;
  height: 68%;
  display: grid;
  grid-template-columns: 18.75% 18.75% 18.75%;
  gap: 10%;
  place-content: center;
}
#player div {
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.1);
  background: #0060ee;
}

#piedra,
#papel,
#tijeras,
#appRock,
#userRock,
#appPaper,
#userPaper,
#appScissors,
#userScissors {
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  background: #008be3;
  border-radius: 12px;
  transition: transform 0.3s;
}

#piedra img,
#papel img,
#tijeras img,
#appRock img,
#userRock img,
#appPaper img,
#userPaper img,
#appScissors img,
#userScissors img {
  width: 100%;
  height: auto;
}

#reset {
  background: #00f2ff;
  height: 60%;
  width: 40%;
  border-radius: 12px;
  display: none;
  place-self: center;
}

#reset p {
  display: grid;
  place-self: center;
  font-weight: bold;
  color: #002144;
}

.show {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #gameContainer {
    width: 95%;
  }

  #game {
    width: 70%;
  }
}

@media only screen and (max-width: 850px) {
  #container {
    height: 100%;
    position: fixed;
  }
  #game {
    width: 95%;
  }

  #wait {
    width: 95%;
  }
}
